#ra-planner-navbar .p-menuitem-link-active {
  background-color: royalblue !important;
  color: white !important;
}

#ra-planner-navbar .p-menuitem-link {
  padding: 15px;
}

p {
  margin: 0.5rem 0;
}

.p-message-wrapper {
  justify-content: center;
}

.p-divider {
  margin: 0 !important;
}
